.section-container {
  overflow-y: auto;
}

.dark-theme-table tbody > tr:nth-child(2n) td:nth-child(2), .dark-theme-table tbody > tr:nth-child(2n) td:nth-child(1) {
  background-color: #000A0A;
}
.dark-theme-table tbody > tr:nth-child(2n+1) td:nth-child(2), .dark-theme-table tbody > tr:nth-child(2n+1) td:nth-child(1) {
  background-color: #002020;
}
.dark-theme-table tbody tr:hover td:nth-child(2), .dark-theme-table tbody tr:hover td:nth-child(1) {
  background-color: #244 !important;
}
.dark-theme-table tbody tr:hover {
  background-color: #244 !important;
}
.dark-theme-table tbody > tr:nth-child(2n+1) {
  background-color: #002020;
}
.dark-theme-table thead th:nth-child(1), .dark-theme-table thead th:nth-child(2) {
  background-color: #000A0A;
}

.light-theme-table tbody > tr:nth-child(2n) td:nth-child(2), .light-theme-table tbody > tr:nth-child(2n) td:nth-child(1) {
  background-color: #EFEFEF;
}
.light-theme-table tbody > tr:nth-child(2n+1) td:nth-child(2), .light-theme-table tbody > tr:nth-child(2n+1) td:nth-child(1) {
  background-color: #CFCFCF;
}
.light-theme-table tbody tr:hover td:nth-child(2), .light-theme-table tbody tr:hover td:nth-child(1) {
  background-color: #9AA !important;
}
.light-theme-table tbody tr:hover {
  background-color: #9AA !important;
}
.light-theme-table tbody > tr:nth-child(2n+1) {
  background-color: #CFCFCF;
}
.light-theme-table thead th:nth-child(1), .light-theme-table thead th:nth-child(2) {
  background-color: #EFEFEF;
}

.table {
  border-collapse: collapse;
}
.table tbody tr {
  position: relative;
}
.table thead {
  margin-bottom: 5px;
}
.table tr td {
  padding: 0.5rem 0;
}

.standings-table thead th:nth-child(1) {
  z-index: 1;
  position: sticky;
  left: -5px;
}
.standings-table thead th:nth-child(2) {
  z-index: 1;
  position: sticky;
  left: 27px;
}
.standings-table tbody tr {
  text-align: center;
}
.standings-table tbody tr > td:first-child, .standings-table tbody tr > td:last-child {
  padding: 0.5rem;
  text-align: left;
}
.standings-table tbody tr > td:nth-child(1) {
  position: sticky;
  left: -5px;
}
.standings-table tbody tr > td:nth-child(2) {
  text-align: left;
  position: sticky;
  left: 27px;
}
.standings-table tbody > tr:nth-child(2n) td:nth-child(2), .standings-table tbody > tr:nth-child(2n) td:nth-child(1) {
  z-index: 1;
}
.standings-table tbody > tr:nth-child(2n+1) td:nth-child(2), .standings-table tbody > tr:nth-child(2n+1) td:nth-child(1) {
  z-index: 1;
}
.standings-table .switcher-visible {
  overflow: hidden;
  width: 40px;
  position: relative;
}
.standings-table .fl-indicator::before {
  content: "";
  position: absolute;
  background-color: purple;
  inset: 0 calc(100% - 10px) calc(100% - 1px) 0;
}
.standings-table .fl-indicator::after {
  content: "";
  position: absolute;
  background-color: purple;
  inset: 0 calc(100% - 1px) calc(100% - 10px) 0;
}

.team-standings-table thead th {
  text-align: left;
  min-width: 35px;
}
.team-standings-table tbody tr > td:first-child {
  padding-left: 10px;
}
.team-standings-table tbody tr > td:nth-child(2) {
  padding-right: 10px;
}

.empty-header-item {
  position: relative;
}
.empty-header-item::after {
  position: absolute;
  content: "";
  inset: -2px 0 0 0;
  background-color: currentColor;
}

.team-border {
  border-color: transparent;
  position: relative;
}
.team-border::before {
  content: "";
  height: calc(100% - 1rem);
  position: absolute;
  left: 0;
  bottom: 0.5rem;
  border-width: 2px;
  border-style: solid;
  border-color: inherit;
}

.switcher-container {
  display: flex;
  width: 80px;
  transition: transform 1s ease-in-out;
}
.switcher-container div {
  width: 40px;
  transition: opacity 1s ease-in;
}

.switch-container {
  max-width: 200px;
  column-gap: 5px;
}
.switch-container .box {
  font-weight: bold;
  width: 50%;
  border-radius: 5px;
  padding: 8px 0;
  cursor: pointer;
  transition: box-shadow 0.2s;
}
.switch-container .inactive {
  opacity: 0.7;
}

.switch {
  position: relative;
  display: inline-block;
  width: 57px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000606;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 0;
  bottom: 0;
  background-color: #EFEFEF;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

input:checked + .slider:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switcher-container-rank {
  transform: translateX(-40px);
}

.switcher-item-active {
  opacity: 1;
}
.switcher-item-inactive {
  opacity: 0;
}

.underlined {
  position: relative;
}
.underlined::before {
  content: "";
  position: absolute;
  inset: 0 20%;
  border-bottom: 1px solid currentColor;
}

.overflow-y {
  overflow-y: auto;
  max-width: 100%;
}
.overflow-y::-webkit-scrollbar {
  height: clamp(3px, 1vh, 6px);
}
.overflow-y::-webkit-scrollbar-track {
  background: transparent;
}
.overflow-y::-webkit-scrollbar-thumb {
  background-color: rgba(239, 239, 239, 0.7);
  border-radius: 20px;
  border: 4px solid transparent;
  transition: background-color 0.2s;
}
.overflow-y::-webkit-scrollbar-thumb:hover {
  background-color: #efefef;
}
.overflow-y::-webkit-scrollbar-button {
  display: none;
}

#race-results-table {
  max-width: 100%;
  overflow-x: auto;
}

.race-results > tr:nth-child(1) {
  font-weight: 1000;
}
.race-results > tr:nth-child(2) {
  font-weight: 1000;
}
.race-results > tr:nth-child(3) {
  font-weight: 1000;
}
.race-results tr > td:last-child {
  text-align: left;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.race-results tr > td:first-child {
  padding: 0 0.5rem;
}
.race-results tr > td:nth-child(2) {
  padding-right: 0.5rem;
}
.race-results tr > td:nth-last-child(2) {
  text-align: right;
  padding-left: 5px;
}

.race-results.dark > tr:first-child {
  color: gold;
}
.race-results.dark > tr:nth-child(2) {
  color: silver;
}
.race-results.dark > tr:nth-child(3) {
  color: coral;
}

.race-results.light > tr:first-child {
  color: rgb(193, 164, 0);
}
.race-results.light > tr:nth-child(2) {
  color: grey;
}
.race-results.light > tr:nth-child(3) {
  color: rgb(235, 107, 60);
}

.purple {
  color: purple;
}

.upper-index {
  transform: scale(60%) translateY(50%);
}

.flag-box {
  width: 35px;
  height: 22.5px;
  margin: 0 2.5px;
}

@media (hover: hover) {
  .switch-container .dark-bg:hover {
    box-shadow: 0 0 2px 1px inset rgba(239, 239, 239, 0.7);
  }
  .switch-container .light-bg:hover {
    box-shadow: 0 0 2px 1px inset rgba(0, 10, 10, 0.7);
  }
}

/*# sourceMappingURL=race.css.map */
