@import 'mixin.scss';

.auth-form {
  @include flexColumn();
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  form {
    @include flexColumn();
    row-gap: 3em;
    width: clamp(400px, 30vw, 600px);
    align-items: center;

    .labeled-input {
      width: 80%
    }
  }
}


.form-swap {
  font-size: 18px;

  span {
    position: relative;
    cursor: pointer;
    &::after {
      position: absolute;
      content: '';
      width: calc(100% + 4px);
      height: 1px;
      background-color: currentColor;
      bottom: 0;
      left: -2px;
    }
  }
}