@mixin flexColumn() {
    display: flex;
    flex-direction: column;
}

@mixin center() {
    display: flex;
    align-items: center;
    justify-content: center
}

$red: #CC1E23;
$blue: #0A1391;
$darkblue: #001010; //pozadie
$white: #EFEFEF;    //vacsina textu