@import 'mixin.scss';


.race-box {
    display: inline-block;
    padding: 20px;
    border: 1px solid yellowgreen;
}

.season-container {
    display: flex;
}

.season-minimized {
    max-width: 300px;
}

.race-navigation {
    flex-grow: 1;
    flex-basis: 0;
}


.race-details-container {
    width: 100%;
}