@import 'mixin.scss';


.report-response-container {
    position: fixed;
    left: 100%;
    top: 0;
    transition: transform .5s;
    z-index: 1;
}


.report-response-active {
    transform: translateX(-100%)
}


#addReport {
    h2 {
        margin-bottom: 2rem;
        position: relative;
        padding-bottom: 1rem;
        
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: .6px;
            background-image: linear-gradient(to right, $darkblue, $white, $white, $darkblue);
        }
    }

    #race-name {
        width: 100%;
        margin-bottom: 2rem;

        label {
            font-size: 16px;
            transform: translateY(-120%);
        }
    
        .form-input {
            box-shadow: 0 0 10px rgba($white, .4);
            opacity: .8;
            cursor: not-allowed;
        }
    }

    .two-columns::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: .6px;
        background-image: linear-gradient(to right, $darkblue, $white, $white, $darkblue);
    }
    
}




#inchident {
    width: 100%;
    margin: 2rem 0;
    position: relative;

    textarea {
        background-color: transparent;
        outline: none;
        border: none;
        border-radius: 3px;
        color: $white;
        width: 100%;
        box-shadow: 0 0 10px rgba($white, .4);
        min-height: 5rem;
        padding: 1rem;

    }

    label {
        top: .75rem;
        left: 0;
        transform: scale(.8) translateY(-120%);

    }
}


.two-columns {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 3rem;
    padding: 0 1rem 2rem 1rem;
}


.video-submit {
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin-top: 2rem;

    input {
        box-shadow: 0 0 10px rgba($white, .4);
    }
}

#custom-input {
    margin-top: 2rem;
}

.svg-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 30px;
    height: 20px;
    border: none;
    cursor: pointer;
    transition: opacity .2s;

    &:hover {
        opacity: 1;
    }
}


.submit-button-container {
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .clickable-button {
        font-size: 2rem;
    }
}


@media (hover: none) {
    .submit-button-container {
        .clickable-button {
            border: 1px solid $white;
        }
    }


    #custom-input {
        border: 1px solid $white;
    }
}


@media (hover: hover) {
    .svg-button {
        opacity: .8
    }
}   


@media screen and (max-width: 480px) {
    .two-columns {
        display: block;
    }
}