@import 'mixin.scss';

.report-card {
    position: relative;
    //border-radius: 20px;
    padding: 2rem 0 3rem;

    .fia-logo {
        height: 15px;
    }
}

.text-content {
    min-height: 7.5rem;
    padding: 1rem;
    font-size: 16px;

     + label {
         transform: scale(.8) translateY(-2rem);
         left: .5rem;
         font-weight: bold;
     }

    &.dark {
        box-shadow: 0 0 10px rgba($LIGHT, .4);
        @supports not (box-shadow: 0 0 10px rgba($LIGHT, .4)) {
            border: 1px solid $LIGHT;
        }
    }

    &.light {
        box-shadow: 0 0 10px rgba($DARK, .4);
        @supports not (box-shadow: 0 0 10px rgba($DARK, .4)) {
            border: 1px solid $DARK;
        }
    }
 }


.reported-player {
    position: relative;
    margin-right: 15px;
    white-space: nowrap;
    svg {
        color: $red;
    }
}


.header-with-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.single-row {
    display: flex;
    align-items: center;
}

.report-card .single-row {
    column-gap: 5px;
}


.response-count {
    position: absolute;
    transform: scale(.8);
    left: 4px;
    bottom: 0;
    color: $darkblue;
    font-weight: bold;
}


.penalty-driver-layout {
    display: grid;
    grid-template-columns: 130px 1fr;
    grid-template-rows: 1.2em;
    padding-bottom: .5rem;
}

.hoverable-icon {
    border-radius: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    padding: 5px 10px;
    transition: opacity;
}

@media (hover:hover) {
    .hoverable-icon {
        opacity: .8;
    }
}


@media screen and (max-width: 600px) {
    .report-card {
        .fia-logo {
            height: 10px;
        }

        .lickable-button {
            padding: 4px 8px;
            font-size: 12px;
        }
    }

    .response-count {
        left: 2.5px;
    }
}


@media screen and (max-width: 800px) {
    .mobile-single-column {
        display: flex;
        flex-direction: column;
        font-size: 14px !important;
    }
}