@import 'mixin.scss';

#markdown {
    counter-reset: rule-heading;

    h3 {
        margin-top: .75rem;

        &::before {
            content: counter(rule-heading) ". ";
            counter-increment: rule-heading;
        }
    }

    ol, ul {
        margin: .5rem 0;

        & li:not(:first-child) {
            margin-top: .2rem;
        }
    }
      

    table {
        text-transform: capitalize;
        margin: 1rem 0;
        thead {
            background-color: #022;
            
            th {
                padding: 0.3rem .3rem .3rem .5rem;
            }
        }

        tbody {
            tr {
                transition: .3s;
                &:hover {
                    background-color: #244;
                  }
            }
            td {
              padding: .1rem .5rem;  
            }
        }
    }
}


.rules-input {
    width: 100%;
    min-height: 500px;
    max-width: 100%;
    padding: .5rem 1rem;
    background-color: transparent;
    color: $white;
}


@media (hover:none)  {
    #markdown table tbody tr td {
        border-bottom: 1px solid #244;
    }
}

@media screen and (min-width: 1000px) {
    #rules-header {
        display: none;
    }
}