@import 'mixin.scss';

.dark-bg {
    background-color: $DARK;
}

.light-bg {
    background-color: $LIGHT;
}

.dark-text {
    color: $DARK;
}

.light-text {
    color: $LIGHT;
}



.labeled-input {
    position: relative;
    width: 100%;
  
    label {
      position: absolute;
      left: 1rem;
      top: .5rem;
      pointer-events: none;
      font-size: 20px;
      transition: transform .3s, font-size .3s;
    }
  
    input:focus + label, input:valid + label {
      font-size: 16px;
      transform: translateY(-120%);
    }
}
  
.form-input {
    background-color: transparent;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 20px;
    position: relative;

    &:hover, &:focus, &:valid{
        box-shadow: 0 0 10px color-mix(in srgb, currentColor 40%, transparent);
        @supports not (box-shadow: 0 0 10px color-mix(in srgb, currentColor 40%, transparent)) {
          border: 1px solid currentColor
          }
    }
    
}

.input-error {
    padding: 5px 20px;
    color: $red;
}

.disabled-input {
    cursor: not-allowed !important;
    opacity: .8;
    box-shadow: 0 0 10px color-mix(in srgb, currentColor 40%, transparent);
    @supports not (box-shadow: 0 0 10px color-mix(in srgb, currentColor 40%, transparent)) {
        border: 1px solid currentColor
    }
}

.clickable-button {
    position: relative;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: border .2s;
}


.button-disabled {
    cursor: not-allowed;

    &.light-text {
        color: $DARK;
        background-color: $LIGHT;
    }

    &.dark-text {
        color: $LIGHT;
        background-color: $DARK;
    }
}

.submit-button-container {
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

    .clickable-button {
        font-size: 2rem;
    }
}

.inline-clickable-button, .inline-clickable-button-active {
    position: relative;
    outline: none;
    background-color: transparent;
    color: rgba($white, .9);
    font-size: 40px;
    padding: 0 20px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: border .2s transform .4s;
}


.rotate-180 {
    transform: rotate(-180deg)
}

.icon {
    transition: transform .4s, border-color .2s !important;
}

.section {
    padding: 2rem clamp(12px, 5vw, 3rem) 10rem;
    overflow: hidden;
    min-height: 80vh;
    position: relative;
    max-width: 100vw;
}

.section-heading {
    padding-bottom: .5rem;
    margin-bottom: 3rem;
    position: relative;
}

.sticky-heading {
    position: sticky;
    top: -2rem;
    z-index: 1;
}

.link {
    text-decoration: none;
}

.fade-in-out-border {
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-image: linear-gradient(to right, transparent, currentColor, currentColor, transparent);
    }
}


.auto-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
}

.pop-up-bg {
    position: fixed;
    inset: 0;
    z-index: 11;
    background-color: $darkblue;
    display: flex;
    align-items: center;
    justify-content: center;

    @supports (backdrop-filter: blur(2.5px)) {
        backdrop-filter: blur(2.5px);
        background-color: transparent;
    }
}


.pop-up-content {
    z-index: 12;
    height: 100%;
    padding: 2rem 1rem 5rem;
    overflow-y: auto;
    width: clamp(280px, 100%, 1000px);
    position: relative;
    box-shadow: 0 0 10px color-mix(in srgb, currentColor 40%, transparent);
    @supports not (box-shadow: 0 0 10px rgba($white, .4)) {
        border: 1px solid $white
    }
}


.user-tip {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 2rem;
    background-color: #787878;
    position: sticky;
    top: 1rem;
    z-index: 3;
    color: yellow;
    
    span {
        text-align: center;
    }

    svg {
        font-size: 30px;
        color: yellow;
    }

    span {
        padding: 0 1rem;
    }

    &.dark {
        border-left: 10px solid $LIGHT;
        border-right: 10px solid $LIGHT;
    }

    &.light {
        border-left: 10px solid $DARK;
        border-right: 10px solid $DARK;
    }
}

.icon-delete {
    position: absolute;
    cursor: pointer;
    font-size: 18px;
    transition: color .2s;

    &:hover {
        color: $red;
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-right {
    right: 1rem;
    top: calc(50% - 9px);
    z-index: 1;
}

.top-right {
    position: absolute;
    right: 1rem;
    top: -1rem;
    z-index: 1;
}

.top-left {
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.close-icon {
    transition: color .2s;
    cursor: pointer;

    &:hover {
        color: $red;
    }
}


.change-icon {
    transition: color .2s;
    cursor: pointer;

    &:hover {
        color: rgb(0, 215, 57)
    }
}

.empty-header {
    position: fixed;
    height: 65px;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
}




.dark-theme-scrollbar, .dark-theme-scrollbar * {
    @include scrollbar($LIGHT)
}

.light-theme-scrollbar, .light-theme-scrollbar * {
    @include scrollbar($DARK)
}

.table-header {
    position: relative;

    &::after {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: currentColor;
    }
}



@media (hover: none) {
    .icon-delete {
        color: $red;
    }

    .close-icon {
        color: $red;
    }

    .submit-button-container {
        .clickable-button {
            border: 1px solid currentColor;
        }
    }
}


@media (hover:hover) {
    .clickable-button:hover {
        border: 1px solid currentColor;
        transition: border .5s;
    }
}


@media screen and (min-width: 1001px) {
    .empty-header {
        display: none;
    }
}