@import 'mixin.scss';



.invitation-card {
    display: inline-block;
    position: relative;
    border-radius: 15px;
    padding: .8rem 1.6rem;
    text-align: center;
    width: min(100%, 300px);
    margin: 0 0 2rem 2rem;

    box-shadow: 0 0 8px color-mix(in srgb, currentColor 60%, transparent);

    
    //background-color: #0B1212; 

    transition: transform .4s/*,  background-color .4s*/;

    h2 {
        position: relative;
        padding-bottom: .5rem;
    }

    p {
        text-align: justify;
        padding: 1rem 0;
    }

    &:hover {
        transform: scale(1.02);
        //background-color: #121818;

    }
}

@media screen and (max-width: 500px) {
    .invitation-card {
        margin: 0 0 2rem 0;
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    #intro {
        padding-top: 75px;
    }
}